<app-header></app-header>
<!-- <img src="../assets/magnet1.jpeg" alt=""> -->
<div class="jumbotron" style="background-color: #371500; height:100%; text-align: center;color: whitesmoke;
">
  <h1>Welcome to the Car Rental Service</h1>
  <p class="lead">
    Hassel free rental service at your door steps
  </p>
  <div class="card-group">
    <div class="card">
      <img src="../assets/car3.jpg" alt="" height="500px"class="card-img-top">
      <div class="card-body">
        <h3>Mid-Size SUV</h3>
        <p class="card-title"> Nissan Magnite</p>
        <p class="card-text">Powerful Turbo V Engine ensure the smooth ride</p>
      </div>
    </div>

    <div class="card">
        <img src="../assets/car3.jpg" alt="" height="500px"    class="card-img-top">
        <div class="card-body">
          <h3>Pricing</h3>
          <p class="card-title">No Hidden Charges</p>
          <p class="card-text">Our prices include taxes and insurance. What you see is what you really pay!</p>
        </div>
    </div>

    <div class="card">
        <img src="../assets/car3.jpg" alt="" height="500px"    class="card-img-top">
        <div class="card-body">
          <h3>Bundle</h3>
          <p class="card-title">Flexi Pricing Packages</p>
          <p class="card-text">One size never fits all! Choose a balance of time and kilometers that works best for you.</p>
        </div>
    </div>

    <div class="card">
        <img src="../assets/car3.jpg" alt="" height="500px"    class="card-img-top">
        <div class="card-body">
          <h3>Timeline</h3>
          <p class="card-title">Go Anywhere</p>
          <p class="card-text">Our cars have all-India permits.  Just remember to pay state tolls and entry taxes.</p>
        </div>
    </div>


  </div>
</div>
<router-outlet></router-outlet>

